# Set default behaviour to automatically normalize line endings.
#------------------------------------------------------------------------------#
*              text=auto
.gitignore     -text

.gitattributes eol=lf
*.md           eol=lf
*.ps1          eol=lf
*.psd1         eol=lf
*.psm1         eol=lf
*.yml          eol=lf
